<footer class="container-fluid bg-dark ">
  <div class="row h-100">
    <div class="col-md-9 col-5 my-auto">
      <a target="_blank" href="https://github.com/wallandall"><i class="fab fa-github-square fa-2x"></i></a>
      <a  target="_blank"href="https://www.linkedin.com/in/chris-wall-15969813"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
    <div class="col-md-3 col-7 my-auto copy ">
      <a target="blank" href="https://www.webe-solutions.com">&copy; WebE Solutions</a>
    </div>
  </div>
</footer><!--End Footer-->
